# Introduction to Jupyter and R

This is a [Jupyter](https://jupyter.org/) notebook.
Here is a [Jupyter tutorial](https://youtu.be/Rc4JQWowG5I).

This _cell_ is a [Markdown](http://daringfireball.net/projects/markdown/syntax) cell: it contains text rather than executable code.

You can also style text in a Markdown cell using <strong>html</strong>

Markdown cells in Jupyter support [MathJax](https://www.mathjax.org/), so you can write lovely typeset mathematics, e.g., $ e^{i\pi} = -1$.

$$
  e^x \equiv \sum_{j=1}^\infty \frac{x^j}{j!}.
$$

Here is a [demo of Markdown and MathJax in Jupyter](https://youtu.be/-F4WS8o-G2A)

This particular Jupyter notebook is an R notebook (there are also Python and Julia notebooks, among programming languages).
This notebook is communicating with an R kernel and can execute R commands.
R is a high-level statistics package with a versatile programming language.

Here is [an introduction to R](http://cran.r-project.org/doc/manuals/R-intro.pdf). 

For a more thorough introduction to R, see  http://statistics.berkeley.edu/computing/r-bootcamp 
https://github.com/berkeley-scf/r-bootcamp-2014/blob/master/schedule/schedule.pdf

## Jupyter

Most of Jupyter's functionality is clear from its drop-down menus: commands to insert or delete cells, to execute cells, to clear output, etc.

One of the most useful features of Jupyter is it's help functions and tab completion.

For instance, typing "tab" while you are typing the name of a function will give you a list of functions that start with the letters you have typed so far.

Please click "help" and take the User Interface Tour.

## R

The rest of this notebook is a brief introduction to R (within Jupyter). 
We will see more of R in later sections of the course, as we encounter particular topics linear algebra, least squares, optimization, random number generation, the Bootstrap, etc.

In [1]:
# This is a code cell (but this line is a comment, because it starts with '#')
# This is an R notebook, so you can type R commands into this cell, for example:
print('Hello world!')

[1] "Hello world!"

In [2]:
# more R

# arithmetic
5+2 
5^2
5/2
5/2;  # lines ending with semicolon don't produce printed output

sqrt(-1)  # no answer among the real numbers
sqrt(-1 + 0i) # R understands complex numbers, though

[1] 7

[1] 25

[1] 2.5

[1] 2.5

Warning message:
In sqrt(-1): NaNs produced

[1] NaN

[1] 0+1i

In [3]:
# variables
x <- 5;  # assignment uses an right arrow, <-
x
6 -> y;  # can assign in the other direction, too
y
x^2
sqrt(x)

[1] 5

[1] 6

[1] 25

[1] 2.236068

In [4]:
# R has some pre-defined values
pi

[1] 3.141593

In [5]:
# R represents "not a number" by "NA" (it also represents missing values by "NA," so be careful)
x <- NA;
x + 1  # arithmetic with "NA" gives "NA"

is.na(x)  # check whether x is not a number
is.na(pi)

[1] NA

[1] TRUE

[1] FALSE

In [6]:
# ranges
1:5  # up
5:1  # down
seq(from=10, to=5, by=-1) # more general
seq(from=10, to=8, by = -0.1) # not just integers
seq(length=5, from=-1, by=0.5) # a different way to call "seq"

[1] 1 2 3 4 5

[1] 5 4 3 2 1

[1] 10  9  8  7  6  5

 [1] 10.0  9.9  9.8  9.7  9.6  9.5  9.4  9.3  9.2  9.1  9.0  8.9  8.8  8.7  8.6
[16]  8.5  8.4  8.3  8.2  8.1  8.0

[1] -1.0 -0.5  0.0  0.5  1.0

In [7]:
# careful about order of operations! Sequences are expanded _before_ arithmetic operations
1:6-1     # range is expanded into [1, 2, 3, 4, 5, 6], then scalar 1 is subtracted from each element
1:(6-1)

[1] 0 1 2 3 4 5

[1] 1 2 3 4 5

In [8]:
# catenation to make lists
c(1,2,3,4)
c(1,2,3,4,x)

# list of repeated values
rep(y,3)
rep(3:1,3)  # defaults to putting 3 copies of the first argument end-to-end
rep(3:1, times=3)
rep(3:1, each=3) # copy each element 3 times

[1] 1 2 3 4

[1]  1  2  3  4 NA

[1] 6 6 6

[1] 3 2 1 3 2 1 3 2 1

[1] 3 2 1 3 2 1 3 2 1

[1] 3 3 3 2 2 2 1 1 1

In [9]:
# how long is a list?
length(y)  

# indexing a list
y[1]  # R uses 1-based indexing
y[5]
y[6]  # nothing there!

[1] 1

[1] 6

[1] NA

[1] NA

In [10]:
# slightly more advanced indexing
#
y <- 1:5;
y[-2] # y without its second element
y[2:4] # 2nd through 4th elements of y
y[y>2] # logical indexing
y[ y > 1 & y < 5] # more logical indexing

[1] 1 3 4 5

[1] 2 3 4

[1] 3 4 5

[1] 2 3 4

In [11]:
# building arrays
x <- 1:5;
y <- 6:10;

# column binding
cbind(x,y)  # glue these together as columns
cbind(x,y,x^2)

     x  y
[1,] 1  6
[2,] 2  7
[3,] 3  8
[4,] 4  9
[5,] 5 10

     x  y
[1,] 1  6  1
[2,] 2  7  4
[3,] 3  8  9
[4,] 4  9 16
[5,] 5 10 25

In [12]:
# Dataframes
# Dataframes are like arrays, but with names for the columns
x <- data.frame(var1=1:5, time=3:7, val=runif(5));  # "runif" generates uniform random numbers
x
x$val

  var1 time       val
1    1    3 0.9480642
2    2    4 0.7340699
3    3    5 0.9362691
4    4    6 0.7923703
5    5    7 0.1712906

[1] 0.9480642 0.7340699 0.9362691 0.7923703 0.1712906

In [13]:
# row binding
rbind(x,y,log(y))

      var1    time       val
1 1.000000 3.00000 0.9480642
2 2.000000 4.00000 0.7340699
3 3.000000 5.00000 0.9362691
4 4.000000 6.00000 0.7923703
5 5.000000 7.00000 0.1712906
6 6.000000 7.00000 8.0000000
7 1.791759 1.94591 2.0794415

In [14]:
# changing the dimension of an array
x <- 1:20;
dim(x) <- c(4,5);
x  # note this is done columnwise first
dim(x) <- c(5,4);
x
# you can turn x back into a list
x <- as.vector(x);
x
# an alternative
x <- array(1:20, dim=c(4,5));
x

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16   20

     [,1] [,2] [,3] [,4]
[1,]    1    6   11   16
[2,]    2    7   12   17
[3,]    3    8   13   18
[4,]    4    9   14   19
[5,]    5   10   15   20

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16   20

In [15]:
# "recycling" in array construction
x <- 1:5;
array(x, dim=c(5,4))
array(x, dim=c(4,5))

     [,1] [,2] [,3] [,4]
[1,]    1    1    1    1
[2,]    2    2    2    2
[3,]    3    3    3    3
[4,]    4    4    4    4
[5,]    5    5    5    5

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    4    3    2
[2,]    2    1    5    4    3
[3,]    3    2    1    5    4
[4,]    4    3    2    1    5

In [16]:
# operations on lists
y <- 1:5;
y^2
sqrt(y)
log(y)

[1]  1  4  9 16 25

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

[1] 0.0000000 0.6931472 1.0986123 1.3862944 1.6094379

In [17]:
# DANGER: R "recycles" values in list arithmetic to make lengths match. This can have unexpected consequences
x <- 1:5;
y <- 10:8;
x + 2*y + 3 # this "should" complain because x and y have different lengths. But instead, 
            # R copies y 1.4 times to make [10, 9, 8, 10, 9], so the length matches that of
            # x, the longest vector in the sum. That vector is then multiplied by 2. 
            # 3 is added as a scalar to every element

Warning message:
In x + 2 * y: longer object length is not a multiple of shorter object length

[1] 24 23 22 27 26

In [18]:
# logical (Boolean) variables
T
F
x <- T;
x
1 == 2
1 > 2
1 >= 2
1 != 2

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

In [19]:
# logical operators
!T
!F
T | F  # logical "or"
F | F
T & T  # logical "and"
T & F
!(T & F)

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

[1] FALSE

[1] TRUE

In [20]:
# most numerical values can be cast as Booleans
0 & T
0 | T
1 & T
pi & T
# but not strings:
"hello" & T  # fail

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

ERROR: Error in "hello" & T: operations are possible only for numeric, logical or complex types

In [21]:
# sorting, max, min
x <- 10:5;
x
sort(x)
# what permutation puts the list in sorted order?
order(x)
#
max(x)
min(x)
max(x^2)
max(x)^2

[1] 10  9  8  7  6  5

[1]  5  6  7  8  9 10

[1] 6 5 4 3 2 1

[1] 10

[1] 5

[1] 100

[1] 100

In [2]:
# other useful functions on lists
x <- 1:10
sum(x)  # sum of the elements
prod(x) # product of all the elements
mean(x) # mean of the elements

x[11] <- NA # now x has an element that's NA

sum(x)  # fail
prod(x)
mean(x)
sum(x, na.rm = T)  # sum, omitting NAs
prod(x, na.rm = T) # product, omitting NAs
mean(x, na.rm = T) # mean, omitting NAs

[1] 55

[1] 3628800

[1] 5.5

[1] NA

[1] NA

[1] NA

[1] 55

[1] 3628800

[1] 5.5

In [22]:
# utilities
help("c")  # help on a particular function

c                     package:base                     R Documentation

_C_o_m_b_i_n_e _V_a_l_u_e_s _i_n_t_o _a _V_e_c_t_o_r _o_r _L_i_s_t

_D_e_s_c_r_i_p_t_i_o_n:

     This is a generic function which combines its arguments.

     The default method combines its arguments to form a vector.  All
     arguments are coerced to a common type which is the type of the
     returned value, and all attributes except names are removed.

_U_s_a_g_e:

     c(..., recursive = FALSE)

_A_r_g_u_m_e_n_t_s:

     ...: objects to be concatenated.

recursive: logical.  If ‘recursive = TRUE’, the function recursively
          descends through lists (and pairlists) combining all their
          elements into a vector.

_D_e_t_a_i_l_s:

     The output type is determined from the highest type of the
     components in the hierarchy NULL < raw < logical < integer <
     double < complex < character < list < expression.  Pairlists are
     treated as lists, but non-vector components (such names and calls)
     are treated as one-element lists which cannot be unlisted even if
     ‘recursive = TRUE’.

     ‘c’ is sometimes used for its side effect of removing attributes
     except names, for example to turn an array into a vector.
     ‘as.vector’ is a more intuitive way to do this, but also drops
     names.  Note too that methods other than the default are not
     required to do this (and they will almost certainly preserve a
     class attribute).

     This is a primitive function.

_V_a_l_u_e:

     ‘NULL’ or an expression or a vector of an appropriate mode.  (With
     no arguments the value is ‘NULL’.)

_S_4 _m_e_t_h_o_d_s:

     This function is S4 generic, but with argument list ‘(x, ...,
     recursive = FALSE)’.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘unlist’ and ‘as.vector’ to produce attribute-free vectors.

_E_x_a_m_p_l_e_s:

     c(1,7:9)
     c(1:5, 10.5, "next")

     ## uses with a single argument to drop attributes
     x <- 1:4
     names(x) <- letters[1:4]
     x
     c(x)          # has names
     as.vector(x)  # no names
     dim(x) <- c(2,2)
     x
     c(x)
     as.vector(x)

     ## append to a list:
     ll <- list(A = 1, c = "C")
     ## do *not* use
     c(ll, d = 1:3) # which is == c(ll, as.list(c(d = 1:3))
     ## but rather
     c(ll, d = list(1:3))  # c() combining two lists

     c(list(A = c(B = 1)), recursive = TRUE)

     c(options(), recursive = TRUE)
     c(list(A = c(B = 1, C = 2), B = c(E = 7)), recursive = TRUE)

In [23]:
# more utilities
ls()  # what variables are in the namespace?
rm(y) # delete the variable y
y
ls()

[1] "x" "y"

ERROR: Error in eval(expr, envir, enclos): object 'y' not found

[1] "x"

In [24]:
# printing and flow control
x <- 3;
for (i in 1:x) {  # first flow control
    print(x^i)
}

i <- 1;
while (i <= 5) { # second flow control
    print(x^i)
    i <- i+1;
}

if (1 < 2) {  # third flow control
    print('1 is less than 2')
}

if (2 < 1) {
    print('2 is less than 1')
} else {
    print('2 is not less than 1')
}

if (2 < 0) {
    print('2 is less than 0')
} else if (2 < 1) {
    print('2 is less than 1')
} else {
    print('2 is neither less than 1 nor less than zero')
}

[1] 3
[1] 9
[1] 27
[1] 3
[1] 9
[1] 27
[1] 81
[1] 243
[1] "1 is less than 2"
[1] "2 is not less than 1"
[1] "2 is neither less than 1 nor less than zero"

Next chapter: [Mathematical Preliminaries](mathPrelim.ipynb)