# Primer of Linear Algebra and Matrix Arithmetic

## Notation

${\mathcal M}(m,n)$ will denote the set of $m$ by $n$ matrices.
$A \in {\mathcal M}(m,n)$ has elements $A_{ij}$, $i \in \{1, \ldots, m\}$, $j \in \{1, \ldots, n\}$.

It is convenient to write matrices as rectangular arrays, e.g.,

$$
A = (A_{ij}) = \begin{pmatrix} A_{11} & A_{12} & \cdots & A_{1n} \\
A_{21} & A_{22} & \cdots & A_{2n} \\
\vdots & \vdots & \ddots & \vdots \\
A_{m1} & A_{m2} & \cdots & A_{mn} 
\end{pmatrix}
.
$$

The _transpose_ of a matrix interchanges the row and column indices of the original matrix.
If $A \in {\mathcal M}(m,n)$ then the transpose of $A$, denoted $A'$ or $A^T$, is an element of
${\mathcal M}(m,n)$ (If $A$ is an $m$ by $n$ matrix then $A'$ is an $n$ by $m$ matrix).
If $A$ has elements $A_{ij}$, then
$A' = A^T$ has elements $A_{ij}^T = A_{ji}$.

__Scalar multiplication.__
If $\alpha \in \Re$ and $A \in {\mathcal M}(m,n)$, the matrix $\alpha A \in {\mathcal M}(m,n)$ has elements $\alpha A_{ij}$, $i \in \{1, \ldots, m\}$, $j \in \{1, \ldots, n\}$.
I.e.,

$$
\alpha A = \begin{pmatrix} \alpha A_{11} & \alpha A_{12} & \cdots & \alpha A_{1n} \\
\alpha A_{21} & \alpha A_{22} & \cdots & \alpha A_{2n} \\
\vdots & \vdots & \ddots & \vdots \\
\alpha A_{m1} & \alpha A_{m2} & \cdots & \alpha A_{mn} 
\end{pmatrix}
.
$$

Let $-A = -1\cdot A$ be the matrix with elements $(-A)_{ij} = -A_{ij}$:

$$
-A = \begin{pmatrix} -A_{11} & -A_{12} & \cdots & -A_{1n} \\
-A_{21} & -A_{22} & \cdots & -A_{2n} \\
\vdots & \vdots & \ddots & \vdots \\
-A_{m1} & -A_{m2} & \cdots & -A_{mn} 
\end{pmatrix}
.
$$

__Matrix addition.__
If $A, B \in {\mathcal M}(m,n)$, then the matrix $A+B \in {\mathcal M}(m,n)$ has elements $A_{ij}+B_{ij}$, $i \in \{1, \ldots, m\}$, $j \in \{1, \ldots, n\}$:

$$
A+B = \begin{pmatrix} A_{11}+B_{11} & A_{12}+B_{12} & \cdots & A_{1n}+B_{1n} \\
A_{21}+B_{21} & A_{22}+B_{22} & \cdots & A_{2n}+B_{2n} \\
\vdots & \vdots & \ddots & \vdots \\
A_{m1}+B_{m1} & A_{m2}+B_{m2} & \cdots & A_{mn}+B_{mn} 
\end{pmatrix}
.
$$

Let $0_{mn} \in {\mathcal M}(m,n)$ denote the $m$ by $n$ matrix all of whose elements are zero; i.e., 
$(0_{mn})_{ij} = 0$, $i \in \{1, \ldots, m\}$, $j \in \{1, \ldots, n\}$:

$$
0_{mn} = \begin{pmatrix} 0 & \cdots & 0 \\ \vdots & \ddots & \vdots \\ 0 & \cdots & 0 \end{pmatrix}
.
$$

With these definitions, ${\mathcal M}(m,n)$ is a linear vector space over the reals, with scalar identity element $1$ and vector identity element $0_{mn}$.

__Transposition.__
The _transpose_ of $A \in {\mathcal M}(m,n)$, $A^T = A' \in {\mathcal M}(n,m)$ has elements
$(A')_{ij} = A_{ji}$, $i \in \{1, \ldots, n\}$, $j \in \{1, \ldots, m\}$:

$$
A' = \begin{pmatrix} \alpha A_{11} & \alpha A_{21} & \cdots & \alpha A_{m1} \\
\alpha A_{12} & \alpha A_{22} & \cdots & \alpha A_{m2} \\
\vdots & \vdots & \ddots & \vdots \\
\alpha A_{1n} & \alpha A_{2n} & \cdots & \alpha A_{mn} 
\end{pmatrix}
.
$$

If $A = A'$, then $A$ is _symmetric_.

Let ${\mathbf 1}_{n} \in {\mathcal M}(n,n)$ denote the $n$ by $n$ _identity_ matrix 
with elements $(1_{n})_{ij} = 1$, $i=j \{1, \ldots, n\}$, and $(1_{n})_{ij} = 0$, $i \ne j$:

$$
1_{n} = \begin{pmatrix} 
1 & 0 &\cdots & \cdots & 0 \\ 
0 & 1  & 0 & \cdots & 0 \\  
\vdots & \vdots & \ddots & \ddots & 0\\
0 & 0 & \cdots & \cdots & 1 
\end{pmatrix}
.
$$

The identity matrix is an example of a _diagonal matrix_. A matrix $A$ is _diagonal_ if $A_{ij}=0$ 
whenever $i \ne j$.

__Matrix multiplication.__
If $A \in {\mathcal M}(m,n)$ and $B \in {\mathcal M}(k,m)$, then $AB \in {\mathcal M}(k,n)$ is the matrix with
elements $(AB)_{ij} = \sum_{\ell=1}^m A_{i \ell}B_{\ell j}$:

$$
AB = \begin{pmatrix} 
\sum_{\ell=1}^m A_{1 \ell}B_{\ell 1} & \sum_{\ell=1}^m A_{1 \ell}B_{\ell 2} & \cdots & 
\sum_{\ell=1}^m A_{1 \ell}B_{\ell k} \\
\sum_{\ell=1}^m A_{2 \ell}B_{\ell 1} & \sum_{\ell=1}^m A_{2 \ell}B_{\ell 2} & \cdots & 
\sum_{\ell=1}^m A_{2 \ell}B_{\ell k} \\
\vdots & \vdots & \ddots & \vdots \\
\sum_{\ell=1}^m A_{n \ell}B_{\ell 1} & \sum_{\ell=1}^m A_{n \ell}B_{\ell 2} & \cdots & 
\sum_{\ell=1}^m A_{n \ell}B_{\ell k}
\end{pmatrix}
.
$$

If $A \in {\mathcal M}(m,n)$, then  $A {\mathbf 1}_{n} = {\mathbf 1}_{m} A = A$.

__Dot products and the Euclidean norm.__

If $a, b \in {\mathcal M}(n,1)$ then the _dot product_ of $a$ and $b$ is
$$a \cdot b = a^Tb = a'b = a_{11}b_{11} + a_{21}b_{21} + \cdots + a_{n1}b_{n1}.$$

If $a \cdot b = 0$, we say $a$ and $b$ are _orthogonal_, and we write $a \perp b$.

The _Euclidean norm_ or _2-norm_ of $a$ is
$$ \|a \|_2 = \|a \| = |a| \equiv \sqrt{a \cdot a}.$$

For $1 \le p < \infty$, the _$p$-norm_ of $a$ is
$$ \|a \|_p \equiv \left ( \sum_{i=1}^n |a_{i1}|^p \right )^{1/p}.$$

The _infinity norm_ of $a$ is
$$ \|a \|_\infty \equiv \max_{i=1}^n | a_{i1}|.$$

### Exercise

1. Show that the dot product is an inner product (over the real numbers) on ${\mathcal M}(n,1)$.
2. Show that the 2-norm $ \|a \| \equiv \sqrt{a \cdot a}$ is a norm on ${\mathcal M}(n,1)$.
3. Show that the 1-norm $\|a\|_1 \equiv \sum_{i=1}^n | a_{i1} |$ is a norm on ${\mathcal M}(n,1)$.
4. Show that $\lim_{p \rightarrow \infty} \|a\|_p = \|a\|_\infty$.

## R interlude
Let's look at all these entities and operations in R.

In [47]:
# Create a matrix
A <- 1:12;  # A is a 1-dimensional array of the integers 1-12
dim(A) <- c(4,3);  # Change the dimension of A to be 4 by 3
print("A")
A  # the matrix A, which is 4 by 3
# Another way to do the same thing
A <- matrix( 
+   c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12), # data
    nrow=4,              # number of rows 
    ncol=3,              # number of columns 
    byrow = FALSE) ;     # read the data by column
A
# Another way
A <- matrix( 
    seq(1,12), # data
    nrow=4,              # number of rows 
    ncol=3,              # number of columns 
    byrow = FALSE) ;     # read the data by column
A
# Transpose A
print("Transpose of A")
t(A) # the transpose of A, which is 3 by 4
A <- t(A);  # overwrite A with its transpose: A is now a 3 by 4 array
A
# Another way to make this matrix
A <- matrix( 
    seq(1,12), # data
    nrow=3,              # number of rows 
    ncol=4,              # number of columns 
    byrow = TRUE) ;      # read the data by row
A

[1] "A"

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

[1] "Transpose of A"

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

[1] "new A"

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

In [48]:
# Scalar multiplication
alpha <- 3;
A
alpha*A

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

     [,1] [,2] [,3] [,4]
[1,]    3    6    9   12
[2,]   15   18   21   24
[3,]   27   30   33   36

In [49]:
# R understands matrix negation
-A
-1*A

     [,1] [,2] [,3] [,4]
[1,]   -1   -2   -3   -4
[2,]   -5   -6   -7   -8
[3,]   -9  -10  -11  -12

     [,1] [,2] [,3] [,4]
[1,]   -1   -2   -3   -4
[2,]   -5   -6   -7   -8
[3,]   -9  -10  -11  -12

In [29]:
# in R, you can create an m by n zero matrix as follows:
Z <- matrix(0, 3, 4);
Z
A + Z

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

In [30]:
# To create an n by n identity matrix in R, make a diagonal matrix of ones:
I = diag(1,3) # a diagonal matrix of 1s, with dimension 3 by 3
I
I2 = diag(c(1,1,1)) # a diagonal matrix with the vector (1,1,1) along the diagonal
I2

     [,1] [,2] [,3]
[1,]    1    0    0
[2,]    0    1    0
[3,]    0    0    1

     [,1] [,2] [,3]
[1,]    1    0    0
[2,]    0    1    0
[3,]    0    0    1

In [9]:
# R supports scalar addition; this is not a formal operation in linear algebra
alpha + A;

     [,1] [,2] [,3] [,4]
[1,]    4    5    6    7
[2,]    8    9   10   11
[3,]   12   13   14   15

In [17]:
# Matrix addition
B <- 24:13;  # B is an array with the integers 24 to 13 in descending order 
dim(B) = c(4,3); # B is now a 4 by 3 array
B <- t(B); # B is now a 3 by 4 array
A # 1:12
B # 24:13
A+B # a 3 by 4 array; all entries are 25

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

     [,1] [,2] [,3] [,4]
[1,]   24   23   22   21
[2,]   20   19   18   17
[3,]   16   15   14   13

     [,1] [,2] [,3] [,4]
[1,]   25   25   25   25
[2,]   25   25   25   25
[3,]   25   25   25   25

In [50]:
# Matrix multiplication
C <- 1:4;
C
A%*%C  # a 3 by 2 matrix
cat("the (3,1) entry should be", 9*1+10*2+11*3+12*4)  # Check the (3,1) entry

[1] 1 2 3 4

     [,1]
[1,]   30
[2,]   70
[3,]  110

the (3,1) entry should be 110

In [52]:
# now multiplying a matrix by a matrix  The matrix multiplication operator is %*%
A %*% t(B)  # a 3 by 3 matrix
t(A) %*% B  # a 4 by 4 matrix

     [,1] [,2] [,3]
[1,]  220  180  140
[2,]  580  476  372
[3,]  940  772  604

     [,1] [,2] [,3] [,4]
[1,]  268  253  238  223
[2,]  328  310  292  274
[3,]  388  367  346  325
[4,]  448  424  400  376

In [53]:
# Multiplication by the identity matrix
I3 <- diag(1,3); # I3 is the 3 by 3 identity matrix
I3 %*% A  # multiplying from the left by the 3 by 3 identity matrix gives us back A
#
I4 <- diag(1,4); # I4 is the 4 by 4 identity matrix
A %*% I4 # multiplying from the right by the 4 by 4 identity matrix gives us back A

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[2,]    5    6    7    8
[3,]    9   10   11   12

In [26]:
# R also does elementwise multiplication; again, this is not a formal operation in linear algebra
A*C  # R copies C repeatedly to fill out the dimension of A, 
     # then multiplies elements of A by the corresponding element

     [,1] [,2] [,3] [,4]
[1,]    1    8    9    8
[2,]   10    6   28   24
[3,]   27   20   11   48

In [5]:
# The dot product
a <- 1:5;
b <- c(rep(1,3), rep(2,2));  # new function: define a vector by repeating values
b
t(a) %*% b
# another way to do it
sum(a*b)

[1] 1 1 1 2 2

     [,1]
[1,]   24

[1] 24

In [10]:
# the 2-norm
norm(as.matrix(a), type="2")  # the "norm" function operates on matrices--not lists. 
                              # The function "as.matrix()" turns the list a into a matrix.
# alternative 1
sqrt(sum(a*a))
# alternative 2
sqrt(t(a) %*% a)
# check:
sqrt(1^2+2^2+3^2+4^2+5^2)

[1] 7.416198

[1] 7.416198

         [,1]
[1,] 7.416198

[1] 7.416198

In [13]:
# the 1-norm
norm(as.matrix(a), type="o")
# alternative 
sum(abs(a))
# check:
1+2+3+4+5

[1] 15

[1] 15

[1] 15

#### Exercise

Write an R script that computes the $p$-norm for general $p$, two different ways, from scratch. Do not use the "norm" function.

##### Traces and Determinants

If $A \in {\mathcal M}(n,n)$, the _trace_ of $A$ is the sum of the "diagonal" elements of $A$:
$$ {\mbox{trace}}(A) = \sum_{i=1}^n A_{ii}.$$

In [4]:
# Trace in R
x <- array(1:5,dim=c(5,5))
x
sum(diag(x))  # diag() extracts the diagonal of a matrix; sum() adds the elements of a list

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    1    1    1    1
[2,]    2    2    2    2    2
[3,]    3    3    3    3    3
[4,]    4    4    4    4    4
[5,]    5    5    5    5    5

[1] 15